body {
  font-family: Arial;
  max-width: 1100px;
  margin: auto;
  background: #f5f5f5;
  color: #000;
  padding: 10px;
}

/* TOP BAR */
.topBar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  background: #f5f5f5;
  padding: 5px 0;
  z-index: 10;
}

.topBar input {
  flex: 4;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
}

/* FILTRY */
.filtersWrapper {
  overflow-x: auto;
  padding-bottom: 5px;
}

.filters {
  display: flex;
  gap: 10px;
  min-width: 900px;
}

.filterBox {
  background: white;
  padding: 10px;
  border-radius: 8px;
  min-width: 280px;
}

.filterBox button {
  display: inline-block;
  margin: 3px;
  font-size: 13px;
}

/* PRZYCISKI */
button {
  margin: 4px;
  padding: 6px 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #e0e0e0;
  font-size: 13px;
}

button.active {
  background: #333;
  color: white;
}

/* WPISY */
.entry {
  background: white;
  padding: 18px;
  margin: 18px 0;
  border-radius: 10px;
  line-height: 1.6;
}

.entry h2 {
  margin-top: 0;
}

.entry p {
  max-width: 800px;
}

/* TRYB NOCNY */
.dark {
  background: #121212;
  color: #eee;
}

.dark .entry,
.dark .filterBox {
  background: #1e1e1e;
}

.dark button {
  background: #333;
  color: #eee;
}

.dark .topBar {
  background: #121212;
}

/* TABLET */
@media (max-width: 900px) {
  .filters {
    grid-template-columns: 1fr 1fr;
  }
}

/* TELEFONY */
@media (max-width: 600px) {

  body {
    padding: 6px;
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  .topBar {
    flex-wrap: wrap;
  }

  .topBar input {
    width: 100%;
    font-size: 16px;
  }

  .topBar button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }

  .filters {
    grid-template-columns: 1fr 1fr;
  }

  .filterBox {
    min-width: 240px;
  }

  .filterBox button {
    font-size: 14px;
    padding: 6px 8px;
  }

  button {
    width: 100%;
    font-size: 15px;
    padding: 8px;
  }

  .entry {
    padding: 20px;
    margin: 20px 0;
  }

  .entry h2 {
    font-size: 22px;
  }

  .entry h3 {
    font-size: 18px;
  }

  .entry p {
    font-size: 17px;
    line-height: 1.7;
  }
}

/* MOTYWY */
.motywy {
  margin: 10px 0;
}

.tag {
  display: inline-block;
  background: #dbeafe;
  color: #1e40af;
  padding: 4px 8px;
  margin: 3px;
  border-radius: 6px;
  font-size: 13px;
}

.dark .tag {
  background: #1e3a8a;
  color: #dbeafe;
}