html,
body {
  background-color: #192734;
}

body * {
  transition: 0.2s;
}

.placeholder {
  width: 14px;
  height: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Baloo 2", cursive;
  color: white;
}

a,
p,
li,
span,
label,
input,
textarea {
  font-family: "Roboto Mono", monospace;
  color: lightslategray;
  text-decoration: none;
  padding: 5px;
}

a:hover {
    color: lightskyblue;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
  color: lightslategray;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

#container {
  height: 10em;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}



#container > div {
  text-align: center;
  margin: -1em 0;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 35px;
  }

  h4 {
    font-size: 19px;
  }

  a {
    font-size: 75%;
  }

  svg{
    width: 12px;
    height: 12px;
  }

/*
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
  }
*/
}
