body {
    font-family: Arial, sans-serif;
    background-color: black;;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    color: white;
}

iframe {
    width:100%; height:540px; border:none; overflow:hidden"
}

.button
{ 
  color: black;
  text-decoration: none;
}

a
{
  color: orange;
}

#bomba
{
  font-size: 30px;
  text-align: center;
}

a:hover
{
  color: blue;
}

.shell
{
  min-width: 1680px;
  width: 100%;
}

.grid
{
  text-align: center;
  float: center;
  width: 100%;
}

.textbox
{
  color: #CCCCCC;
  text-align: justify;
  font-family: 'calibri', sans-serif;
  font-size: 22px;
  width: 40%;
  margin: auto;
  border-style: solid;
  border-color: #ffae00;
  border-width: 5px;
  border-radius: 25px;
  padding: 20px;
}

.textbox img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.textbox h1, .textbox h2, .textbox h3, .textbox h4 {
    text-align: center;
}

.seperator
{
  height: 1px;
  border-bottom: 3px solid #808080;
  width: 100%;
}

.text-seperator
{
  height: 1px;
  border-bottom: 2px solid #303030;
  width: 80%;
  margin: auto;
}

.header
{
  display: inline-block;
  width: 100%;
  height: 250px;
  text-align: center;
}

.title
{
  height: 200px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  display: flex;
}

.title .container
{
  width: 100%;
  margin-top: -30px;
}

.title .container a
{
  padding: 40px;
}

/* ==================== NAVBAR ==============================*/


.sidebar {
    font-family: system-ui, Roboto;
    font-size: 20px;
    width: 250px;
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    background: #292929;
    color: white;
    transition: 0.3s;
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 20px;
    display: block;
    color: white;
    text-decoration: none;
}
.sidebar a:hover {
    background: #666;
}
.menu-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: #444;
    color: white;
    border: none;
    padding: 25px;
    cursor: pointer;
    border-radius: 50px 50px;
    font-size: 20px;
}
.content {
    margin-left: 20px;
    padding: 20px;
}

.nav-content
{
	grid-column: 2;
	grid-row: 1;
}

/* Make scrolling smooth */
html 
{
  scroll-behavior: smooth;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
    .textbox {
        font-size: 18px;
        width: 80%;
    }
    h1
    {
        margin-top: -10px;
    }
    iframe {
        width:100%;
    }
}
